doctype html
html(lang='en')
  head
    style.
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }
      td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }
      tr:nth-child(even) {
      background-color: #dddddd;
      }
    title ListCategories 
  body
    h1(style='text-align:center;') Categories    
    table.table.table-striped
      tbody
        tr
          th ID
          th Name
          th Type
        
      each n in Categories 
        tr
          td= n.ID
          td= n.Name
          td= n.Type 

    a(class='button', href='/') Home
